body {
  margin: 0;
  padding: 0;
  text-align: center; /* !!! */
  background-color: #000000;
}

.centered {
  margin: 0 auto;
  text-align: left;
  width: 800px;
}

.text{
  font-size: 38;
  font-weight: bold;
  text-align: center;
}